body {
    font-family: 'Anton', sans-serif;
}



header {
    height: 150px;
    border-radius: 20px;
    background-color: rgba(131, 118, 107, 100);
    box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(187, 187, 187, 100);
}

header h1{
    color: rgba(239, 221, 65, 100);
    font-size: 100px;
    font-family: 'Anton', sans-serif;
    display: inline;
    text-align: start;
}


h2 {
    color: rgba(63, 17, 17, 100);
    font-size: 40px;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

h3 {
    color: rgba(63, 17, 17, 100);
    font-size: 28px;    
}
.brew-description {
    margin-top: 10px;
    margin-bottom: 10px;
}
#find-brew {
    height: 175px;
    border-radius: 20px;
    background-color: rgba(255, 248, 207, 100);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 100);
}

.search-input {
    width: 95%;
    margin:10px;
}

#brew-name, #location {
    display: inline-flexbox;
    height: 512px;
    border-radius: 20px;
    background-color: rgba(255, 248, 207, 100);
    border: 1px solid rgba(187, 187, 187, 100);
}

#recent-searches {
    height: 625px;
    border-radius: 20px;
    background-color: rgba(255, 248, 207, 100);
    text-align: center;
    border: 1px solid rgba(187, 187, 187, 100);
}

#fav-brews {
    height: 288px;
    border-radius: 20px;
    background-color: rgba(255, 248, 207, 100);
    border: 1px solid rgba(187, 187, 187, 100);
}

.button {
    pointer-events: initial;
}

#brew-name, #location, #fav-brews {
    max-width: screen;
}

.brew-description {
    background-color: rgb(242, 204, 53);
    width: 90%;
    border-radius: 10px;
}

.brewD {
    background-color: rgb(242, 204, 53);
    width: 90%;
    border-radius: 10px;
    
}

@media screen and (max-width: 768px) {
    header h1{
        font-size: 96px;
        font-family: 'Anton', sans-serif;
        display: inline;
        text-align: center;
    }

    header {
        text-align: center;
    }
    
    header img{
        height: 80px;
        width: 80px;
    }
    
    h2, h3 {
        font-size: 42px;
    }

    #recent-searches {
        visibility: hidden;
        height: 0;
    }
}

@media screen and (max-width: 550px) {
    header {
        height: 100px;
        border-radius: 20px;
        background-color: rgba(131, 118, 107, 100);
        box-shadow: 4px 5px 10px 0px rgba(0, 0, 0, 0.4);
        border: 1px solid rgba(187, 187, 187, 100);
    }

    header h1{
        font-size: 64px;
        font-family: 'Anton', sans-serif;
        display: block;
        text-align: center;
    }
}